* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #323333;
}

.wrapper {
  max-width: 1080px; /* comment this line if you want it to be a full width wrapper */
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

/* IMAGE HOLDER */
.wrapper section:first-child {
  background-color: #807182;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}

.wrapper .bg-dog {
  background-image: url(/dog.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* FORM */
.wrapper section:last-child {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  background-color: #f7b1ab;
}

input,
option,
select {
  padding: 0.35rem;
  border: 1px solid #c0c0c0;
  border-radius: 0.25rem;
  font-size: 1rem;
}

label {
  margin-bottom: 5px;
}

input[type="file"] {
  width: 100%;
}

input[type="radio"] {
  margin: 8px;
  accent-color: grey;
}

/* BUTTONS */
.btns.d-flex {
  justify-content: space-between;
}

.btn {
  padding: 0.7rem 1.25rem;
  background-color: #f1f1f1;
  border: solid 1px #c0c0c0;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: 0.75s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: #807182;
  color: #f1f1f1;
  border-color: #807182;
}

.btn.btn-primary {
  background-color: #807182;
  color: #f1f1f1;
  border-color: #807182;
}

.btn.btn-primary:hover {
  background-color: #f1f1f1;
  color: #323232;
  border-color: #dadada;
}

.btn-upload > input {
  display: none;
}

.btn-upload > label {
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #c0c0c0;
  border-radius: 0.25rem;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

/* UTILITIES */

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.mb-20 {
  margin-bottom: 20px;
}
