@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-size: 1rem;
  line-height: 1.6;
  @include set-background($dark_color);
}

a {
  text-decoration: none;
  color: $primary_color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin-bottom: 0.5rem;
}

.overflow-hid {
  overflow: hidden;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 50px;
}

.burger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

#links {
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: #fff;
  margin: 0;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 35%;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;

  a {
    padding: 0.5rem;
    border-bottom: 1px solid #515151;
    transition: 0.5s ease-in-out;

    &:hover {
      @include set-background($grey_color);
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 660px) {
  #links {
    width: 100%;
  }
}

section {
  &.intro header {
    background-image: url(../img/v882-sasi-39.jpg);
  }

  &.hist header {
    background-image: url(../img/1176023_1605.jpg);
  }

  &.introToGrid header {
    background-image: url(../img/5081706.jpg);
  }

  &.examples header {
    background-image: url(../img/12704444_5062388.jpg);
  }

  &.limits header {
    background-image: url(../img/31790841_7868643.jpg);
  }

  &.limits .iframe-wrapper {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;

    iframe {
      width: 100%;
      height: 1000px;
      border: none;
      transform: translate(0, -209px);
    }
  }

  &.conc header {
    background-image: url(../img/v882-sasi-39.jpg);
  }

  header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

    h1 {
      font-size: 2rem;
      background: black;
      grid-column: 2;
      grid-row: 2;
      padding: 2% 5%;
      margin: auto;
    }
  }
  @media only screen and (max-width: 500px) {
    header.grid {
      grid-template-columns: min-content;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

h1 {
  text-align: center;
  font-weight: 700;
}

.interactive-example {
  padding: 2rem;
  @include set-background($grey_color);
  border-radius: 8px;

  @media only screen and (max-width: 880px) {
    .flex {
      display: block;
    }
    .control-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      margin-bottom: 1rem;
      grid-gap: 2%;
      .btn {
        margin: 0;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .interactive-example {
    padding: 0.7rem;
  }
}

.grid-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;

  .control-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.interactive-grid {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 4px;
  transition: transform 0.3s;
  min-height: 100px;

  &.black {
    @include set-background($light_color);
  }

  &.white {
    @include set-background($dark_color);
  }
}

footer {
  @include set-background($grey_color);
  h1 {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 500px) {
    .srcs {
      overflow: auto;
    }
  }
}
