.container {
  max-width: 1080px;
  margin: auto;
}

//text styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: $primary_color;
}

.round-img {
  border-radius: 50%;
}

//backgrounds
.bg {
  &-primary {
    @include set-background($primary_color);
  }
  &-light {
    @include set-background($light_color);
    border: #ccc 1px solid;
  }
  &-dark {
    @include set-background($dark_color);
  }
  &-danger {
    @include set-background($danger_color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

//buttons
.btn {
  display: inline-block;
  @include set-background($light_color);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  transition: all 0.2s ease-in;
  width: 100%;

  &:active {
    @include set-background($primary_color);
  }

  &.btn-primary {
    @include set-background($primary_color);
    &:hover,
    &:active {
      @include set-background($light_primary);
    }
  }

  &.btn-light {
    @include set-background($light_color);
    &:hover {
      background: lighten($light_color, 20%);
      color: #333;
    }
  }

  &.btn-dark {
    @include set-background($dark_color);
    &:hover {
      background: lighten($dark_color, 20%);
    }
  }

  &.btn-success {
    @include set-background($primary_color);
    &:hover {
      background: lighten($primary_color, 5%);
    }
  }

  &.btn-danger {
    @include set-background($danger_color);
    &:hover {
      background: lighten($danger_color, 5%);
    }
  }

  &:hover,
  &:active {
    background: lighten($dark_color, 20%);
    color: #fff;
  }
}

//alerts
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: $light_color;
  color: #333;

  &.alert-primary {
    @include set-background($primary_color);
  }

  &.alert-dark {
    @include set-background($dark_color);
  }

  &.alert-light {
    @include set-background($light_color);
  }

  &.alert-danger {
    @include set-background($danger_color);
  }

  &.alert-success {
    @include set-background($primary_color);
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.d-flex {
  display: flex;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}

.t-style {
  &-i {
    font-style: italic;
  }
  &-b {
    font-weight: 900;
  }
  &-sb {
    font-weight: 600;
  }
  &-r {
    font-weight: 300;
  }
  &-l {
    font-weight: 100;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.heading {
  &-s {
    font-size: 1.5rem;
  }
  &-m {
    font-size: 2rem;
  }
  &-l {
    font-size: 2.5rem;
    color: $primary_color;
  }
  &-xl {
    font-size: 3.5rem;
  }
}

.grid {
  display: grid;
}

.grid-gap {
  &-s {
    grid-gap: 2%;
  }
  &-m {
    grid-gap: 5%;
  }
  &-l {
    grid-gap: 10%;
  }
  @media only screen and (max-width: 740px) {
    &-s,
    &-m,
    &-l {
      grid-gap: 0;
    }
  }
}

.color-primary {
  color: $primary_color;
}

.flex-direction {
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}

.flex {
  display: flex;
  &-center {
    align-items: center;
    justify-content: center;
  }
  &-space-between {
    justify-content: space-between;
  }
  &-align-center {
    align-items: center;
  }
}

.color-red {
  color: $danger_color;
}

.text-align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}
